input {
    margin: 20px auto;
    height: 50px;
    width: 30%;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    font-size: 16pt;
    border: 1px solid lightgray;
    text-align: center;
}
@media (min-width: 768px) {
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: auto;

}

.flex-item {
    margin: 25px;
}
}

